.foto{
    width: 100%;
    height: 225px;
    overflow: hidden;
}

.poster{
    width: auto;
    height: 100%;
    background-size: cover;
}

.title{
    position: absolute;
    color: white;
    top: 100px;
    left: 20px;
    text-shadow: 5px 5px 20px black;
}

.movieCard{
    margin-bottom: 10px;
}

#clickTarget{
    width: 100%;
    height: 225px;
    position: absolute;
    top:0;
    left:0;
    cursor: pointer;
}