    <main>
      <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom">
          
            <span class="fs-4">Productos tabla</span>
          
        </header>
    
        <div class="p-5 mb-4 bg-light rounded-3">
          <div class="col movieCard"  *ngFor="let producto of productoLista">
            <div class="card shadow-sm">
              <div>
                <h4 >Codigo: {{producto.codigo}}</h4>
                <p>Descripcion: {{producto.descripcion}}</p>
              </div>
              <div id="clickTarget" (click)="seleccionoPeli(producto.codigo)"></div>
  
            </div>
            <div id="clickTarget" (click)="seleccionoPeli(producto.codigo)"></div>
          </div>
        </div>
    
  
    

      </div>
    </main>