<app-tabla-pelicula (eventoSeleccionePeli)="cambiarPeli($event)"></app-tabla-pelicula>




  <div class="row align-items-md-stretch">
    <div class="col-md-6">
      <div class="h-100 p-5 text-white bg-dark rounded-3">
        <app-detalle-pelicula [movieRecibida] = "peliActual"></app-detalle-pelicula>
      </div>
    </div>
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2 *ngIf="peliActual">{{peliActual.pais}}</h2>
        <img class="bandera" *ngIf="paisActual" src="{{paisActual.URL}}" alt="">
      </div>
    </div>
  </div>
